/*-------------------- CSS --------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    background: hsl(223, 17%, 24%);
    display: grid;
    place-items: center;
}
.wrapper {
    position: relative;
}
.outer-cercle {
    width: 200px;
    aspect-ratio: 1;
    box-shadow: 
        7px 7px 10px hsl(223, 17%, 19%),
        -7px -7px 10px hsl(223, 17%, 29%)
    ;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.inner-cercle {
    width: 140px;
    aspect-ratio: 1;
    box-shadow: 
       inset 7px 7px 10px hsl(223, 17%, 19%),
       inset  -7px -7px 10px hsl(223, 17%, 29%)
    ;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.svg {
    position: absolute;
    left: 0;
    top: 0;
}
.svg-circle {
    fill: none;
    stroke: url(#svgColor);
    stroke-width: 30px;
    stroke-dasharray: 535;
    stroke-dashoffset: 535;
    stroke-linecap: round;
    animation: anime 2s linear forwards;
}

@keyframes anime {
    100% {
        stroke-dashoffset: 107;
    }
}   